{% extends 'base.html' %}

{% block main_content %}
<h1>Home page with rooms list</h1>
<h1>Welcome {{ request.user|title }}!</h1>
<a href="{% url 'room-create' %}">Add Room</a>

<h3>Connected rooms:</h3>
{% if connected_rooms %}
    <table>
        {% for room in connected_rooms %}
            <tr>
                <td><a href="{% url 'room' room.id %}">{{ room.name }} 
                {% if request.user == room.owner %}
                    (owner)
                {% else %}
                    (guest)
                {% endif %}
                </a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No connected rooms</h3>
{% endif %}

<h3>Public rooms:</h3>
{% if public_rooms %}
    <table>
        {% for room in public_rooms %}
            <tr>
                <td><a href="{% url 'room' room.id %}">{{ room.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No public rooms</h3>
{% endif %}
{% endblock %}
