{% extends 'base.html' %}

{% block main_content %}
<h1>Home page with rooms list</h1>
<a href="{% url 'room-create' %}">Add Room</a>

<h3>Connected rooms:</h3>
{% if connected_rooms %}
  <div class="room-grid">
    {% for room in connected_rooms %}
      <div class="room-card">
        <div class="room-header">
          <h2 class="room-name">{{ room.name }}</h2>
          <form method="POST" action="{% url 'room-toggle-favourite' room.id %}" class="fav-toggle-form">
            {% csrf_token %}
            <input type="checkbox" 
                   id="fav-toggle-{{ room.id }}" 
                   name="toggle" 
                   onChange="this.form.submit()"
                   {% if room.is_favourite %} checked {% endif %}
                   style="display: none;">
            <label for="fav-toggle-{{ room.id }}" class="fav-toggle-label"></label>
          </form>
        </div>
        <div class="room-info">
          <span class="user-status">
            User status:
          </span>
          {% if request.user == room.owner %}
            <span class="owner-tag">Owner</span>
          {% else %}
            <span class="guest-tag">Guest</span>
          {% endif %}
          <div class="participants-count">
            All participants: {{ room.guests.all|length|add:"1" }}
          </div>
          <div class="last-message-info">
            {% if room.last_message_datetime %}
              Last message: {{ room.last_message_datetime|timesince }} ago
            {% else %}
              No messages yet
            {% endif %}
          </div>
        </div>
        <div class="room-actions">
          {% if request.user == room.owner %}
            <button class="options-button" data-room-id="{{ room.id }}">Options</button>
          {% endif %}
          <button class="leave-room-button" data-room-id="{{ room.id }}">Leave</button>
          <a href="{% url 'room' room.id %}" class="enter-room-button">Open</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <h3>No connected rooms</h3>
{% endif %}

<h3>Public rooms:</h3>
{% if public_rooms %}
  <div class="room-grid">
    {% for room in public_rooms %}
      <div class="room-card">
        <div class="room-header">
          <h2 class="room-name">{{ room.name }}</h2>
        </div>
        <div class="room-info">
          <span class="participants-count">
            All participants: {{ room.guests.all|length|add:"1" }}
          </span>
          <div class="last-message-info">
            {% if room.last_message_datetime %}
              Last message: {{ room.last_message_datetime|timesince }} ago
            {% else %}
              No messages yet
            {% endif %}
          </div>
        </div>
        <div class="room-actions">
          <a href="{% url 'room' room.id %}" class="enter-room-button">Join Room</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <h3>No public rooms</h3>
{% endif %}
{% endblock %}
